@import url("../font/GeneralSans_Complete/Fonts/WEB/css/general-sans.css");

body {
    font-family: 'GeneralSans-Bold', sans-serif !important;
}

[class*="col"] {
    padding: 0 !important;
}

#navbar .col:not(:first-child, :last-child) {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}

#navbar {
    font-size: 1.5rem;
}

#logo {
    font-family: 'GeneralSans-Semibold', sans-serif;
    border-radius: 1.3rem;
}

#nav-about {
    color: #ECC351 !important;
}

#card-title {
    height: 13rem;
    background-color: #2B2B2B;
    margin-bottom: 2rem;
}

#card-photograph {
    padding-left: 2rem !important;
    height: 35rem;
}

.grid-5-2 {
    display: grid;
    grid-template-columns: 5fr 2fr;
    height: 20rem;
}

#card-intro {
    background-color: #ECC351;
    color: #2B2B2B;
    margin-right: 1rem !important;
    font-size: 0.875rem;
}

#card-local-time {
    box-sizing: border-box;
    border: .5rem solid white !important;
    margin-left: 1rem !important;
}